@use '../styles/breakpoints' as *;

.section {
  margin-top: 5rem;
  padding-bottom: 5rem;

  @include from($bp-desktop) {
    margin-top: 9.375rem;
    padding-bottom: 6.5rem;
  }
}

.heading {
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-xl); // 20px
  margin-bottom: 2.5rem;
}

.list {
  display: flex;
}

.item {
  flex: 0 0 auto;
  width: 21.5rem; // 344px, Figma mobile/desktop

  @include from($bp-tablet) {
    width: 23.5625rem; // 377px, Figma tablet
  }

  @include from($bp-desktop) {
    width: 21.5rem; // 344px
  }
}
